<!-- Could be used if we were serving and using templateUrl -->
<div style="padding: 50px 0;">
  <div class="container">
    <div class="row">
      <ul>
        <li ng-repeat="comment in comments">
          <p><span>{{getUserFromId(comment.userID)["name"]}}:</span> <span ng-bind-html="comment.text"></span></p>
        </li>
      </ul>
    </div>
    <div class="row">
      <form>
        <div class="form-group">
          <div class="form-input">
            <input type="text" class="form-control shape new-angle" ng-model="reply" ng-change="replyChanged()"
              strip-br="true" tagbox placeholder="Press '@' to tag a user">
          </div>
          <div class="hidden-select-parent">
            <div class="hidden-select shape new-angle" ng-class="{'show': searchResults.length > 0}">
              <ul class="hidden-select-group">
                <li class="hidden-select-item" ng-repeat="result in searchResults" value="{{result.name}}"
                  ng-class="{'active': $index === selectedIndex}" ng-click="tagUser(result)">@{{result.name}}</li>
              </ul>
            </div>
          </div>
          <input type="button" class="btn btn-xl main-bg submit-btn shape new-angle" ng-click="submit()"
            ng-disabled="reply.length === 0" value="Reply">
        </div>
      </form>
    </div>
  </div>
</div>