html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

body>* {
  flex: 1 1 auto;
}

body>header,
body>footer {
  flex: 0 0 auto;
}

.content-wrapper {
  margin-top: 81px;
}


div.input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  width: 600px;
  line-height: 20px;
  font-size: 16px;
}

.usertag {
  color: #429b1f;
}

.row form {
  flex: 1 1 100%;
}


.hidden-select-parent {
  position: relative;
}

.hidden-select {
  width: 200px;
  position: absolute;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  z-index: 1001;
  display: none;
}

.show {
  display: block !important;
}

.hidden-select-item {
  font-size: 14px;
  padding: 7px 10px;
}

.hidden-select-group .hidden-select-item:first-child {
  border-top-right-radius: 1.2em;
}

.hidden-select-group .hidden-select-item:last-child {
  border-bottom-left-radius: 1.2em;
}

.hidden-select-item.active {
  background-color: #429b1f;
  border-color: #429b1f;
  color: #ffffff;
}